body {
 background-color: rgb(3, 27, 107);
 font-family: 'Crete Round', serif;
 
}

h1{
	text-align: center;
	font-family: 'Alata', sans-serif;
}

img{
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px
	
}

div{
	background: gainsboro;
	padding-bottom: 5px;
	border-radius: 20px;
	box-shadow:  50px 20px 30px rgba(0, 0, 0, 0.3);
	width: 1000px;
    margin:30px auto;
}


h2{
	text-align: center;
 color: rgb(3, 27, 107);
 font-size: 20px;
 font-family: 'Alata', sans-serif;
 background-color: grey
}

a{
	text-decoration: none;
	color: blue

}

a:hover{
	color: white;
	text-decoration: none;
}


p{
	text-align: center;
}

ul{
	text-align: none
}

@media(max-width: 1100px){
	h2{
		font-size: 35px;
	}
	p{
		font-size: 15px;
	}
}



